.main{
    position: relative;
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 4rem auto;
    padding: 30px;
}

.main .card{
    position: relative;
    max-width: 300px;
    height: 160px;
    background: var(--azul);
    margin: 60px 15px;
    padding: 20px 15px;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    transition: 0.7s ease-in-out;
}

.main .card:hover{
    height: 400px;
}

.main .card .titulo{
    color: white;
    display: flex;
    justify-content: center;
    margin-top: -40px;
}

.main .card .titulo h3{
    font-size: 1.8rem;
}

.main .card .imgBx{
    position: relative;
    overflow: hidden;
    object-fit: fill;
    width: 260px;
    height: 140px;
    top: -60px;
    left: 20px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.3);
}

.main .card .imgBx img{
    max-width: 100%;
    border-radius: 4px 4px 4px 4px;
}

.main .card .contenido{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color:  white;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s ease-in-out;
    width: 90%;
}

.main .card:hover .contenido{
    visibility: visible;
    opacity: 1;
    margin-top: 10px;
    transition-delay: 0.3s;
}

.main .card .contenido .atributos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 10px auto;
    justify-content: space-around;
}

.main .card .contenido .atributos p{
    background: #ff5c5c;
    border-radius: 10px;
    padding: 4px 4px;
    text-transform: capitalize;
}

.main .card .contenido .boton{
    width: 20%;
    display: flex;
    font-size: x-large;
    margin: 0 auto;
    transition: 0.2s;
    border-radius: 10px;
    text-decoration: none;
    background: #ff5c5c;
    color: #f6f4ff;
    cursor: pointer;
    }

    .main .card .contenido .boton p{
        align-items: center;
        font-size: x-large;
        margin: 10px auto;
      
    }















